parameters:
    level: 7
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: /^Variable property access on/
            path: src/FieldMap/ConfiguredFieldMap.php
        -
            message: /^Variable property access on/
            path: src/QueryBuilder/StagedQueryBuilder.php
includes:
  	- vendor/phpstan/phpstan-strict-rules/rules.neon
